{% extends 'list_generic.html' %}

{% block titulo %}
{{titulo}}
{% endblock titulo %}

{% block subtitulo %}
{{subtitulo}}
{% endblock subtitulo%}

{% block columns %}
    <th><i class="fas fa-hashtag me-2"></i>ID</th>
    <th><i class="fas fa-book me-2"></i>Nombre del Estudiante</th>
    <th><i class="fas fa-clock me-2"></i>Fecha</th>
    <th><i class="fas fa-clock me-2"></i>Observaciones</th>
    <th class="text-center"><i class="fas fa-tools me-2"></i>Acciones</th>
{% endblock columns %}
    {% block exportar %}
      <a href="{% url 'app:reporte_asistencia_pdf' %}" class="btn-pdf">
        <i class="fas fa-file-pdf me-1"></i>
          Descargar PDF
      </a>
      <a href="{% url 'app:reporte_asistencia_excel' %}" class="btn-excel">
        <i class="fas fa-file-excel me-1"></i>
          Descargar Excel
      </a>
        <div class="filtros" style="z-index: 1000;">
        <input type="text" id="buscar" name="buscar" placeholder="Buscar asistencia">

        <select id="rol" name="rol">
            <option value="">Todas las asistencias</option>
            <option value="administrador">Nombre del Estudiante</option>
            <option value="docente">Fecha</option>
        </select>

        <button type="submit" id="filtrar">
            Filtrar
        </button>
    </div>
    {% endblock %}
{% block rows %}
    {% for asistencia in object_list %}
    <tr>
        <td>{{ asistencia.id }}</td>
        <td>{{ asistencia.estudianteid}}
        <td>{{ asistencia.fecha }}</td>
        <td>{{ asistencia.observaciones }}</td>
        <td class="text-center">
            <a href="{% url 'app:editar_asistencia' asistencia.id %}" class="btn btn-sm me-1" style="background-color: #3054f7; color: #ffffff; border-radius: 8px;">
                            <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="{% url 'app:eliminar_asistencia' asistencia.id %}" class="btn btn-sm" style="background-color: #ff4d4d; color: white; border-radius: 8px;">
                            <i class="fa-solid fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
<script>
  console.log("Hola mundo")
  $(document).ready(function () {

      const tabla = $('#Tabla').DataTable();

      document.getElementById('filtrar').addEventListener('click', function () {

          let buscar = document.getElementById('buscar').value
          let rol = document.getElementById('rol').value
          let estado = document.getElementById('estado').value
          console.log(rol)
          tabla.search(buscar).draw()
          tabla.column(3).search(rol);
      });

  });
</script>
<script>

    const urlPdf = "{% url 'app:reporte_usuario_pdf' %}"
    const urlExcel = "{% url 'app:reporte_usuario_excel' %}"

    document.getElementById("ExportarPdf").addEventListener("click", function(e){
        e.preventDefault()
        let buscar = document.getElementById("buscar").value
        let rol = document.getElementById("rol").value
        let estado = document.getElementById("estado").value
        window.location.href = `${urlPdf}?buscar=${buscar}&rol=${rol}&estado=${estado}`
    })

    document.getElementById("ExportarExcel").addEventListener("click", function(e){
        e.preventDefault()
        let buscar = document.getElementById("buscar").value
        let rol = document.getElementById("rol").value
        let estado = document.getElementById("estado").value
        window.location.href = `${urlExcel}?buscar=${buscar}&rol=${rol}&estado=${estado}`
    })

</script>
{% endblock rows %}
