{% extends 'list_generic.html' %}
{% block titulo %}
  {{ titulo }}
{% endblock %}

{% block subtitulo %}
  {{ subtitulo }}
{% endblock %}

{% block columns %}
  <th>
    <i class="fas fa-hashtag me-2"></i>ID
  </th>
  <th>
    <i class="fas fa-user me-2"></i>Nombre del Usuario
  </th>
  <th>
    <i class="fas fa-envelope me-2"></i>Email
  </th>
    <th class="text-center">
      <i class="fas fa-user-shield me-2"></i>Rol
    </th>
  <th class="text-center">
    <i class="fas fa-tools me-2"></i>Acciones
  </th>
{% endblock %}

{% block rows %}
  {% for usuario in object_list %}
    <tr>
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nombre }}</td>
      <td>{{ usuario.email }}</td>
      <td class="text-center">{{ usuario.get_rol }}</td>
      <td class="text-center">
        <a href="{% url "app:editar_usuario" usuario.id %}" class="btn btn-sm me-1" style="background-color: #3054f7; color: #ffffff; border-radius: 8px;"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="#" class="btn btn-sm" style="background-color: #ff4d4d; color: white; border-radius: 8px;"><i class="fa-solid fa-trash"></i></a>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
