{% load static %}
<div class="info-footer">
  <footer>
    <h4>C.A.T.S Proyect</h4>
    <h4>Contáctanos</h4>
    <div class="iconos">
      <button class="tiktok"><img src="{% static 'img/tiktok.jpeg' %}" alt="TikTok" /></button>
      <button class="instagram"><img src="{% static 'img/instagram.jpeg' %}" alt="Instagram" /></button>
      <button class="youtube"><img src="{% static 'img/youtube.jpeg' %}" alt="Youtube" /></button>
    </div>

    <div class="copyrigth">
      <h6>----------Todos los derechos reservados---------</h6>
    </div>
  </footer>
</div>
